@model DND_Character_Sheet_Webapp.Models.Spell

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Spell</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpellLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpellLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CastingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CastingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.School)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.School)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DamageDice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DamageDice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfDice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfDice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Range)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Range)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Save)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Save)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Effect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Effect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Components)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Components)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConcentration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConcentration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRitual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRitual)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
