@model DND_Character_Sheet_Webapp.Models.DnD5ePlayerItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DnD5ePlayerItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightInPounds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightInPounds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostInGoldPieces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostInGoldPieces)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
